<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Goods List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--   <meta name="_csrf" th:content="${_csrf.token}"><meta name="_csrf_header" th:content="${_csrf.headerName}"> -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<style>
/*   html, body { font-family: Roboto, AppleSDGothicNeoM00; } */
  .goods_c {
  	width: 23%;
  	height : 150px;
  	float: left;
  	margin : 5px;
  	border: 1px solid black;
  	min-width: 200px;
  }
  
</style>

<body>
<!-- 	<form action="#" th:action="@{/logout}" method="post"> -->
<!-- 		<input type="submit" value="Logout" /> -->
<!-- 	</form> -->
	<div class="container_top">
		<div><span style="cursor: pointer;" id="putAllGoodsToCart">장바구니 담기 (<span id="cartCount"></span>)</span>
			<div id="nextBtn" style="float: right; margin-right: 5%; cursor: pointer;">장바구니로 이동</div>
		</div>
		<div>가격 : <span id="checked_price">0</span>( 배송비 : <span id="checked_shipping">0</span>)</div>
		<div>전체선택 <input type="checkbox" id="all_checked"></div>
		
	</div>
	<form action="/cart" id="inputForm">
		<div class="container_middle">
		</div>
	</form>



<script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
<script>
// var token = $("meta[name='_csrf']").attr("content");
// var header = $("meta[name='_csrf_header']").attr("content");
// $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

	var goodsData = {};
	var shippings={};
	var SHIPPING_FREE = "FREE";
	var SHIPPING_METHOD = ['method', 'price', 'canBundle'];
	
    $(function () {
		goodsList();
		cartCount();
        bindEvt();
    });
    
    function goodsList() {
		$.ajax({
	        url : 'goods',
	        type: "GET",
	        dataType : "json",
	        async:false,
	        success : function(data){
	        	console.log(data.goods);
	            var goods = data.goods;
	            var str='';
	            for (var i=0; i<goods.length; i++) {
	            	goodsData[goods[i].id] = goods[i];
	            	goodsData[goods[i].id].name = goods[i].name;
	            	var shipping = {};
	            	for (var method of SHIPPING_METHOD) {
	            		shipping[method] = goods[i].shipping[method];
	            	}
	            	shipping.provider = goods[i].provider;
	            	shippings[goods[i].id+"_"+goods[i].provider] = shipping;
	            	
	            	str += '<div class="goods_c">'
	            		+ '<div style="cursor: pointer;" class="putGoodsToCart" id="'+goods[i].id+'">'
	            		+ '장바구니 담기'
	            		+ '</div>'
	            		+ '<div>'
	            		+ '<input type="checkbox" id="check_'+goods[i].id+"_"+goods[i].provider+'" value="'+goods[i].price+'">'
	            		+ goods[i].name
	            		+ '</div>'
	            		+ '<div id="'
	            		+ goods[i].id
	            		+ '"><select class="goods_option" data-selected="">'
	            		+ '<option id="" selected>'
	            		+ '옵션을 선택하세요'
	            		+ '</option>';
						
            		for (var j=0; j<goods[i].options.length; j++) {
            			var option = goods[i].options[j];
            			var option_str = option.color + ' / ' + option.size + ' / 재고 : '+option.stock;
            			str += '<option id='
            				+ option.id
            				+'>'
            				+ option_str
            				+ '</option>';
            			
            			var stock = option.stock == 0 ? '품절' : option.stock; 
            		}
	            		
	            	str	+= '</select>'
						+ '<div class="stock_amount"></div>'
	            		+ '</div>'
	            		+ '<div id = "goods_price">'
	            		+ '가격 : '+goods[i].price + '<br>'
	            		+ '배송비 : '+goods[i].shipping.price
	            		+ '</div>'
	            		+ '</div>';
	            	
	            }
	            $('.container_middle').html(str);
	        }
	    });
    }
    
    function cartCount() {
    	var count = 0;
    	$.ajax({
            url : 'carts/count',
            type: "GET",
            dataType : "json",
            async:false,
            success : function(data){
            	$('#cartCount').text(data.count);
            	count = data.count;
            }
    	});
    	return count;
    }
    
    function bindEvt() {
    	
    	$('#nextBtn').click(function () {
    		var count = cartCount();
    		if (count < 1) {
    			alert("장바구니가 비어 있습니다.");
    			return false;
    		}
    		$('#inputForm').submit();
    	});
		
    	//가격 계산
        function calculationPrice() {
    		var price = 0;
    		var checked_shipping = {};
    		var shppingPrice = 0;
    		$('#inputForm').find('input[type=checkbox][id^=check_]').each(function(index, item) {
    			if ($(this).is(":checked")) {
    				price += parseInt($(this).val());
    				var id = $(this).attr('id').substring(6);
    				var provider = id.split('_')[1]; 
    				if (shippings[id].method != SHIPPING_FREE) { //선불 배송비
    					if (shippings[id].canBundle == true && shippings[id].price != 0) { //묶음 배송 가능 상품
    						if (checked_shipping[provider]) { // 묶음 배송 상품 중 가격이 낮은 상품의 배송비로 책정
    							checked_shipping[provider] = Math.min(checked_shipping[provider], shippings[id].price);
    						} else {
    							checked_shipping[provider] = shippings[id].price;
    						}
    					} else {// 묶음 배송 불가능 상품
    						checked_shipping[id] = shippings[id].price;
    					}
    				}
    			}
    		});
    		
    		for (var prop in checked_shipping) {
    			shppingPrice += checked_shipping[prop];
    		}
    		
    		$('#checked_shipping').text(shppingPrice);
    		$('#checked_price').text(price + shppingPrice);
    	 }
    	
    	//단일 체크박스 선택
        $('[id^=check_]').click(function () {
			calculationPrice();
		});
    	
    	//전체 선택
        $('#all_checked').click(function () {
            if ($('#all_checked').prop('checked')) {
                $('input[type=checkbox]').prop('checked', true); 
            } else {
                $('input[type=checkbox]').prop('checked', false);
            }
            calculationPrice();
        });
        
		//옵션 선택
		$('.goods_option').change(function () {
			var id = $(this).parent().attr('id');
			var goodsDetailId = $(this).children(':selected').attr('id');
			$(this).data('selected', goodsDetailId);
			
			var selectedStock = 0;
			var options = goodsData[id].options;
			for (var option of options) {
				if (option.id == goodsDetailId) {
					selectedStock = option.stock > 10 ? 10 : option.stock;
				}
			}
			$(this).siblings('.stock_amount').empty();
			var str = '<select class="option_stock"><option id="">수량을 선택하세요</option>';
			for (var i=1; i<=selectedStock; i++) {
				str += '<option id="'+i+'">' + i + '</option>';
			}
			str += '</select>';
			$(this).siblings('.stock_amount').html(str);
			
			$('.option_stock').on("change", selectAmount);
		});
		
		//수량 선택
		function selectAmount() {
			var id = $(this).parent().parent().attr('id');
			var goodsDetailId = $(this).parent().siblings('.goods_option').data('selected');
			var amount = $(this).children(':selected').attr('id');
			
			var insertId = "check_" + id;
			$('input[id^="'+insertId+'"]').data('goods_id', id);
			$('input[id^="'+insertId+'"]').data('goods_detail_id', goodsDetailId);
			$('input[id^="'+insertId+'"]').data('amount', amount);
			$('input[id^="'+insertId+'"]').data('name', goodsData[id].name);
			console.log($('input[id^="'+insertId+'"]').data());
		}
		 
		 //단일 상품 장바구니에 추가
		 $('.putGoodsToCart').click(function () {
			var goodsId = $(this).attr('id');
			var idData = $('input[id^="check_'+goodsId+'"]').data();
			if (!validataionCheck(idData)) {
				alert("상품 옵션과 수량을 선택 해 주세요.");
				return false;
			}
			
			$.ajax({
		       url : 'carts/'+goodsId,
		       type: "POST",
		       contentType: 'application/json',
		       async:false,
		       dataType : "json",
		       data : JSON.stringify($('input[id^="check_'+goodsId+'"]').data()),
		       success : function(data){
	    		   alert(data.error);
		       }
			});
			cartCount();
		 });
		 
		 //체크된 상품 장바구니에 추가
		 $('#putAllGoodsToCart').click(function () {
			 var putAlldata = [];
			 var flag = false;
			 $('#inputForm').find('input[type=checkbox][id^=check_]').each(function(index, item) {
				if ($(this).is(":checked")) {
					 var saveData = $('#'+item.id).data();
					 if (!validataionCheck(saveData)) {
						alert("상품 옵션과 수량을 선택 해 주세요.");
						flag = false;
						return false;
					 }
					 flag = true;
					 putAlldata.push(saveData);
				}
			});
			if (!flag) return false;
			$.ajax({
		       url : 'carts/all',
		       type: "POST",
		       contentType: 'application/json',
		       dataType : "json",
		       async:false,
		       data : JSON.stringify(putAlldata),
		       success : function(data){
	    		   alert(data.error);
		       }
			});
			cartCount();
		 });
		 
	    function validataionCheck(data) {
			for ( var name in data ) {
		        return true;
		    }
		    return false;
		 }
    }
</script>
</body>
</html>